@reference "../../app/globals.css";

.heading1 {
  @apply text-3xl font-extrabold mb-4 tracking-tight;
  color: var(--color-text-light);
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

@media (prefers-color-scheme: dark) {
  .heading1 {
    color: var(--color-text-dark);
  }
}
