.portfolioCard {
  @apply shadow cursor-pointer transition ease-out relative rounded;
  width: 300px;
  height: 400px;

  &::after {
    @apply block absolute bottom-0 w-full;
    content: " ";
    height: 100px;
    background: linear-gradient(transparent,rgba(0,0,0,.5));
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:hover {
    @apply shadow-2xl;
    transform: scale(1.03) translateY(-10px);
  }
}