@reference "../../../../app/globals.css";

.portfolioScreenshots {
  @apply flex;
  gap: 15px;
}

.screenshot {
  @apply relative w-full;

  img {
    @apply rounded w-full transition cursor-pointer shadow-xl;
    margin-bottom: 15px;
    position: relative !important;

    &:hover {
      transform: scale(1.01);
    }
  }
}